@import url('https://fonts.googleapis.com/css2?family=Bilbo&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Oregano:ital@0;1&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  font-family: 'Noto Sans', sans-serif;
  flex-direction: column;
}


#main-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}


/* Css abaixo referente a parte do topo */
#topo {
  display: flex;
  justify-content: space-around;
  width: 100%;
  min-height: 100px;
  align-items: center;
  background-color: #190482;
  border-bottom: solid #8E8FFA 3px;
}

#logo_uespi {
  width: 100px;
  height: 100px;
}

.botao {
  width: 86px;
  height: 38px;
  border-radius: 3mm;
  display: inline-block; 
  text-align: center; 
  line-height: 38px; 
  text-decoration: none; 
  color: #fff; 
  background-color: #007bff; 
  border: none;
  cursor: pointer; 
}


/* Css abaixo referente a barra de Pesquisa */
#pesquisa {
  display: flex;
  position: relative;
  background-color: #7752FE;
  background-size: cover;
  background-position: top;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
}

#barra-busca {
  width: 50%;
}

#barra-pesquisa {
  width: calc(100% - 50px);
  padding: 10px;
  border-radius: 20px;
  border: none;
  outline: none;
  font-size: 16px;
}

/* Referente ao container contendo livros e categorias e linhas divisorias */
#livros-container {
  display: flex;
  padding: 2mm;
  flex-direction: column;
  background-color: #7752FE;
  flex-grow: 1;
}

/* Css abaixo referente as categorias e o titulo Categoria */
#categoria-titulo {
  margin-left: 15mm;
  color: white;
}

#titulo-categoria {
  margin-bottom: 1mm;
}

.linha_horizontal {
  position: absolute;
  left: 0;
  margin-left: 5mm;
  width: 80%;
  height: 2px;
  background-color: #ffffff;
}

#conteudo-livros {
  display: flex;
  flex-grow: 1;
}


#categorias-livros {
  position: relative;
  margin-bottom: 20px;
  color: white;
  float: left;
}

.categorias {
  display: flex;
  flex-direction: column;
  margin-top: 5mm;
  margin-right: 15mm;
  margin-left: 15mm;
  list-style-type: none;
}

.linha_vertical {
  position: absolute;
  bottom: 0;
  left: 100%;
  width: 2px;
  background-color: #ffffff;
  z-index: 1;
  top: -26px;
}


/* Css abaixo referente aos cards de livros */

#cards-livros {
  display: flex;
  width: 305px;
  height: 156px;
  margin-top: 3mm;
  margin-left: 3mm;
  border-radius: 3mm;
  padding: 2mm;
  justify-content: space-between;
  background: linear-gradient(#8a9dedff, #ab69e0ff);
  box-shadow: 0px 10px 40px #00000056;
}

.card-livro {
  display: flex;
}

.foto {
  width: 119px;
  height: 140px;
  background-size: cover;
}

.info-livros {
  display: flex;
  color: white;
  margin-left: 3mm;
  flex-direction: column;
}



/* Css abaixo referente ao rodapé */

#rodape {
  width: 100%;
  height: 83px;
  background-color: #7752FE;
  border-top: solid #190482 3px;
}